<p>In your Shopping Cart:</p>
<div
  *ngFor="let item of  cartItems"
  [ngSwitch]="item.type"
  class="shopping"
>
  <div *ngSwitchCase="'espresso'"
       class="item">
    <p>Espresso, 3 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
  <div *ngSwitchCase="'americano'"
       class="item">
    <p>Americano, 8 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
  <div *ngSwitchCase="'cappuccino'"
       class="item">
    <p>Cappuccino, 16 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
  <div *ngSwitchCase="'latte'"
       class="item">
    <p>Espresso, 16 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
  <div *ngSwitchCase="'bigjoe'"
       class="item">
    <p>Big Joe, 20 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
  <div *ngSwitchCase="'hotchoc'"
       class="item">
    <p>Hot chocolate, 8 fl oz - <span class="qty">qty: {{item.value}}</span></p>
  </div>
</div>


