.buildControls {
  width: 100%;
  background-color: #9f9f9f;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: 10px auto;
}


.buildControls p {
  color: white;
}

.buildControlsButton {
  display: flex;
  align-items: center;
  flex-flow: column;
}

@media (min-width: 650px) {
  .buildControlsButton
   {
    flex-flow: row;
  }

  .buildControlsButton{
    margin: 0 auto;
  }
}


.orderButton {
  margin-top: 30px;
  background-color: #c63b44;
  outline: none;
  cursor: pointer;
  border: 1px solid #a28ba2;
  color: #887896;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #928896;
  font-weight: bold;
  color: white;
}

.orderButton:hover, .orderButton:active {
  background-color: #a2252c;
  border: 1px solid #967593;
  color: white;


}

.orderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.orderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
